@page "/users/details"
@using Microsoft.EntityFrameworkCore
@using Librarian.Common.Models.Db
@inject IDbContextFactory<Librarian.Common.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>User</h2>
    <hr />
    @if (user is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@user.Name</dd>
            <dt class="col-sm-2">Password</dt>
            <dd class="col-sm-10">@user.Password</dd>
            <dt class="col-sm-2">Type</dt>
            <dd class="col-sm-10">@user.Type</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@user.Status</dd>
            <dt class="col-sm-2">AppAppSaveFileCapacityCountDefault</dt>
            <dd class="col-sm-10">@user.AppAppSaveFileCapacityCountDefault</dd>
            <dt class="col-sm-2">AppAppSaveFileCapacitySizeBytesDefault</dt>
            <dd class="col-sm-10">@user.AppAppSaveFileCapacitySizeBytesDefault</dd>
            <dt class="col-sm-2">AppAppSaveFileCapacityStrategyDefault</dt>
            <dd class="col-sm-10">@user.AppAppSaveFileCapacityStrategyDefault</dd>
            <dt class="col-sm-2">CreatedAt</dt>
            <dd class="col-sm-10">@user.CreatedAt</dd>
            <dt class="col-sm-2">UpdatedAt</dt>
            <dd class="col-sm-10">@user.UpdatedAt</dd>
            <dt class="col-sm-2">TotalAppSaveFileCount</dt>
            <dd class="col-sm-10">@user.TotalAppSaveFileCount</dd>
            <dt class="col-sm-2">TotalAppSaveFileSizeBytes</dt>
            <dd class="col-sm-10">@user.TotalAppSaveFileSizeBytes</dd>
        </dl>
        <div>
            <a href="@($"/users/edit?id={user.Id}")">Edit</a> |
            <a href="@($"/users")">Back to List</a>
        </div>
    }
</div>

@code {
    private User? user;

    [SupplyParameterFromQuery]
    private long Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        user = await context.Users.FirstOrDefaultAsync(m => m.Id == Id);

        if (user is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
